.contato {
    border-top: 3px solid #cc7c55;

    .boder-boder {
        border-left: 2px solid #cc7c55;
        border-right: 2px solid #cc7c55;
    }

    .tt {
        font-family: 'DIN';
        font-weight: 900;
        font-style: normal;
        color: #b87b58;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        padding-top: 60px;
        padding-bottom: 0px;
        padding-left: 23px;
    }

    .txt {
        font-family: 'DIN';
        font-weight: 300;
        font-style: normal;
        color: #b87b58;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 23px;
    }

    .group-form {
        .form-group {
            padding-left: 2px;
            padding-right: 2px;
            margin-bottom: 5px;
        }

        .form-control {
            font-family: 'Futura Std';
            font-weight: 500;
            font-style: normal;
            height: 50px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #b87b58;
            background-color: #ead7cd;
            border: 0px solid transparent;
            border-radius: 0px;
            box-shadow: none;

            &::-webkit-input-placeholder {
                color: #b87b58;
            }

            &:-ms-input-placeholder {
                color: #b87b58;
            }

            &::placeholder {
                color: #b87b58;
            }
        }

        textarea {
            height: 100px !important;
        }

        .btn_enviar {
            font-family: 'DIN';
            font-weight: 300;
            font-style: normal;
            padding: 8px 30px;
            margin-bottom: 0;
            font-size: 14px;
            line-height: 1.42857143;
            border: 0px solid transparent;
            border-radius: 0px;
            color: #ffffff;
            background-color: #b87b58;
            float: right;
            text-transform: uppercase;
            margin-top: 5px;
            letter-spacing: 3px;
        }
    }

    small {
        font-family: 'Minion Pro';
        font-weight: normal;
        font-style: normal;
        color: #b87b58;
        font-size: 10px;
        line-height: 13px;
        display: block;
    }

    .box {
        padding-top: 20px;

        .tradicao {
            font-family: 'Noway';
            font-weight: normal;
            font-style: normal;
            color: #000000;
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 15px;
        }

        .jrg {
            padding-top: 35px;

            img {
                max-width: 80%;
            }
        }
    }
}

/* Extra Small */
@media(max-width:767px) {
    .contato {
        .tt {
            font-size: 16px;
            line-height: 20px;
            padding-top: 20px;
            padding-left: 23px;
        }

        .txt {
            font-size: 16px;
            line-height: 20px;
            padding-top: 10px;
            padding-left: 23px;
        }

        .box {
            .tradicao {
                font-size: 13px;
                line-height: 20px;
                margin-bottom: 15px;
            }

            .jrg {
                padding-top: 0px;
                padding-bottom: 20px;

                img {
                    max-width: 65%;
                }
            }
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}