.home,
.o-valor,
.video {
    background-color: #3c3f41;
}

.home,
.regiao,
.arquitetura,
.diferenciais {
    margin-bottom: -5px;
}

.o-valor {
    border-top: 2px solid #cc7c55;

    .border-left,
    .border-right {
        padding-top: 20px;
        padding-bottom: 20px;

        img {
            max-width: 60%;
        }
    }

    .border-left {
        border-left: 2px solid #cc7c55;
        border-right: 1px solid #cc7c55;
    }

    .border-right {
        border-left: 1px solid #cc7c55;
        border-right: 2px solid #cc7c55;
    }

    .boder-boder {
        border-left: 2px solid #cc7c55;
        border-right: 2px solid #cc7c55;
    }
}

.video {
    background: url(../images/bg-video.png) no-repeat #3c3f41;
    background-size: cover;
    background-position: center center;
    border-top: 2px solid #cc7c55;

    .boder-boder {
        border-left: 2px solid #cc7c55;
        border-right: 2px solid #cc7c55;
    }

    .border-border-top {
        border-top: 2px solid #cc7c55;
    }

    .box-video {
        border-left: 2px solid #cc7c55;
        border-right: 2px solid #cc7c55;

        video {
            margin-bottom: -6px;
        }
    }

    p {
        font-family: 'Noway';
        font-weight: normal;
        font-style: normal;
        color: #cc7c55;
        font-size: 14px;
        line-height: 17px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.arquitetura {
    background: url(../images/bg-arquitetura.png) no-repeat #ffffff;
    background-size: cover;
    background-position: center center;

    .slick-slide {
        margin-bottom: -5px;
    }

    .boder-boder {
        border-left: 2px solid #3c3f41;
        border-right: 2px solid #3c3f41;
    }
}

.plantas {
    background: url(../images/bg-plantas.png) no-repeat #ffffff;
    background-size: cover;
    background-position: center center;

    .slick-slide {
        margin-bottom: -5px;
    }

    .boder-boder {
        border-left: 2px solid #3c3f41;
        border-right: 2px solid #3c3f41;
    }

    p {
        font-family: 'DIN';
        font-weight: 300;
        font-style: normal;
        color: #b87b58;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        padding-top: 60px;
        padding-left: 23px;

        span {
            font-weight: 900;
            font-style: normal;
        }
    }
}

.lazer {
    background: url(../images/bg-lazer.png) no-repeat #ffffff;
    background-size: cover;
    background-position: center center;

    .slick-slide {
        margin-bottom: -5px;
    }

    .boder-boder {
        border-left: 2px solid #3c3f41;
        border-right: 2px solid #3c3f41;
    }

    figcaption {
        font-family: 'Noway';
        font-weight: normal;
        font-style: normal;
        color: #3c3f41;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 35px;

        span {
            font-family: 'Noway';
            font-weight: 500;
            font-style: normal;
            text-transform: uppercase;
        }
    }

    p {
        font-family: 'DIN';
        font-weight: 300;
        font-style: normal;
        color: #3c3f41;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        padding-top: 60px;
        padding-bottom: 20px;
        padding-left: 23px;

        span {
            font-weight: 900;
            font-style: normal;
        }
    }
}

.rua {
    .box {
        padding-top: 60px;
        padding-bottom: 60px;

        p {
            font-family: 'DIN';
            font-weight: 900;
            font-style: normal;
            color: #ffffff;
            font-size: 25px;
            line-height: 30px;
            text-transform: uppercase;
            letter-spacing: 3px;

            span {
                color: #b87b58;
            }
        }
    }
}

.mapa {
    border-top: 3px solid #3c3f41;
    margin-bottom: -5px;
}


/* Extra Small */
@media(max-width:767px) {
    .video {
        background: url(../images/bg-video-mobile.png) no-repeat #3c3f41;
        background-size: cover;
        background-position: center center;
    }

    .arquitetura {
        background: url(../images/bg-arquitetura-mobile.png) no-repeat #ffffff;
        background-size: cover;
        background-position: center center;
    }

    .plantas {
        background: url(../images/bg-plantas-mobile.png) no-repeat #ffffff;
        background-size: cover;
        background-position: center center;

        .slick-slide {
            margin-bottom: -5px;
            padding-bottom: 20px;
        }

        p {
            font-size: 16px;
            line-height: 20px;
            padding-top: 30px;
            padding-bottom: 5px;
            padding-left: 23px;
        }
    }

    .lazer {
        background: url(../images/bg-lazer-mobile.png) no-repeat #ffffff;
        background-size: cover;
        background-position: center center;

        .slick-slide {
            margin-bottom: -5px;
        }

        figcaption {
            padding-top: 25px;
            padding-bottom: 30px;
        }

        p {
            font-size: 16px;
            line-height: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 23px;
        }
    }

    .rua {
        .box {
            padding-top: 30px;
            padding-bottom: 30px;

            p {
                font-size: 20px;
                line-height: 30px;
                letter-spacing: 2px;

                span {
                    display: block;
                    color: transparent;
                    height: 0;
                }
            }
        }
    }
}

/* Small */
@media(min-width:768px) and (max-width:991px) {}

/* Medium */
@media(min-width:992px) and (max-width:1199px) {}

/* Large */
@media(min-width:1200px) {}